<h1>Editing fund account</h1>

<%= render "form", fund_account: @fund_account %>

<br>

<div>
  <%= link_to "Show this fund account", @fund_account %> |
  <%= link_to "Back to fund accounts", fund_accounts_path %>
</div>
